body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li button {
    padding: 10px 20px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.seccion {
    margin-top: 20px;
}

#listaAdopciones li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}
img {
    width: 80px;   /* todas las imágenes mismo tamaño */
    height: 80px;  /* asegura proporción cuadrada */
    object-fit: cover; /* recorta la imagen si no es cuadrada */
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse; /* elimina espacios entre celdas */
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    border: 1px solid #4CAF50; /* bordes visibles */
    padding: 10px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
